<form action="../VotingAdministration/UpdateVoting" method="post">
    Title:<br>
    <input type="text" name="title" id="votingTitle"><br>
    Description:<br>
    <input type="text" name="description" id="votingDescription">
    <input id="submitter" type="button" value="Create Voting" onclick="saveVoting();" />
</form>

<script>
function saveVoting() {
    var title = $("#votingTitle").val();
    var desc = $("#votingDescription").val();
    var currentUser = firebase.auth().currentUser;
    if (currentUser) {
        currentUser.getIdToken(true).then(function (idToken) {
            $.post({
                url: '../VotingAdministration/UpdateVoting',
                data: { "title": title, "desc": desc, "id": 0 },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", idToken);
                },
                success: function (data) { window.location.assign("Overview"); }
                // error: todo
            });
        });
    }
}
</script>