/.metadata

/dotnet/FreieWahl/.vs
/dotnet/FreieWahl/*/.bowerrc
/dotnet/FreieWahl/*/bin
/dotnet/FreieWahl/*/obj
/dotnet/FreieWahl/FreieWahl/wwwroot/lib
/dotnet/FreieWahl/packages
/dotnet/FreieWahl/*.user
/dotnet/FreieWahl/FreieWahl/bower_components
/dotnet/FreieWahl/.axoCover/runs
*.pyc
/dotnet/FreieWahl/FreieWahl/appsettings.json
/tokenstore/node_modules
/tokenstore/.nyc_output
/tokenstore/.vscode
/tokenstore/coverage
/tokenstore/privateconfig.json
/tokenstore/.vs
/tokenstore/credentials.json
/dotnet/FreieWahl/FreieWahl/bower/lib
/dotnet/FreieWahl/FreieWahl/node_modules
