/.metadata

/dotnet/FreieWahl/.vs
/dotnet/FreieWahl/*/.bowerrc
/dotnet/FreieWahl/*/bin
/dotnet/FreieWahl/*/obj
/dotnet/FreieWahl/FreieWahl/wwwroot/lib
/dotnet/FreieWahl/packages
/dotnet/FreieWahl/*.user
/dotnet/FreieWahl/FreieWahl/bower_components
/dotnet/FreieWahl/.axoCover/runs
*.pyc
/dotnet/FreieWahl/FreieWahl/appsettings.json
