@section stylesheets {
    <script src='https://www.google.com/recaptcha/api.js?render=6LcgCnkUAAAAAPz9NtANNeS0_8Fvx8uBx1eIbxXl'></script>
}

<nav class="navbar navbar-dark fixed-top navbar-expand-md">
    <a class="navbar-brand" href="@Url.Action("Index")">
        <img src="~/images/logo_darkbg_trans.svg" style="height: 3rem;" />
    </a>
</nav>
<div class="container pt-4">
    <h2>Über uns</h2>
    <p>
        Hinter der Webseite "Freie Wahl" stehe ich, Michael Faschinger, als Privatperson. 
        Die Idee zu diesem Projekt entstand aus einem persönlichen Bedürfnis: Ich bin Mitglied einer Partei, bin Mitglied in 
        einigen Vereinen und wohne in einer größeren Siedlung mit Hausverwaltung. In all diesen Gruppen gibt es immer wieder
        Abstimmungen - die Teilnahme daran ist aber nicht wirklich einfach: Man muss stets zu einem bestimmten Zeitpunkt an einem
        bestimmten Ort sein. Mir war das teils nicht möglich, teils war es mir 
        offen gesagt auch die Zeit nicht wert, teils haben mich nicht alle Punkte, über die abgestimmt wurde, interessiert. 
        Der nächste Gedanke war: Das muss doch in Zeiten des Internets einfacher möglich 
        sein! Ich brauche doch nur einen Identitätsnachweis und eine sichere, transparente Möglichkeit, solche Abstimmungen abzuwickeln.
        Kurz darauf kam der Call der netidee 2017, meine Einreichung und schließlich die Förderzusage der netidee (siehe unten). Im Jahr
        2018 habe ich das Projekt schließlich mit Unterstützung bei einigen Krypto-Punkten (danke Felix Klengel!) und beim UI-Design 
        umgesetzt (danke Tommy Bayer!).<br/>
    </p>
    <h2>Unterstützer</h2>
    <p>
        Ermöglicht wurde die Umsetzung dieses Projekts durch eine Förderung durch die <a href="https://www.netidee.at">netidee</a>,
        Österreichs größte Internet Förderaktion. Die 'Freie Wahl' war als Projekt <a href="https://www.netidee.at/buergerchain">bürgerchain</a>
        unter den geförderten Projekten 2017 und erhielt zusätzlich zu den EUR 33.200 Projektförderung noch EUR 3.000 für den
        Sonderpreis "Blockchain". Während die Projektförderung dazu vergewendet wurde, das Projekt "Bürgerchain" und damit auch diese Webseite 
        hier umzusetzen, war der Sonderpreis nicht zweckgebunden. Ich habe mich entschieden, die EUR 3.000 für die anfallenden Server- und
        Infrastrukturkosten in den nächsten Jahren einzusetzen. Derzeit wird diese Seite in Googles App Engine Flexible gehostet (Region europe-west3/Frankfurt),
        die Serverkosten liegen etwas unter EUR 50/Monat, mit dem Geld aus dem Sonderpreis ist der Betrieb also für einige Jahre gesichert.<br/>
        Sollten Sie die Wartung und Weiterentwicklung des Projekts unterstützen wollen, können Sie das gerne mit einer Spende tun:
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="B5FHQQNVYATZN">
            <input type="image" src="https://www.paypalobjects.com/de_DE/AT/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
            <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
        </form>
    </p>
</div>

