@section stylesheets {
    <script src='https://www.google.com/recaptcha/api.js?render=6LcgCnkUAAAAAPz9NtANNeS0_8Fvx8uBx1eIbxXl'></script>
}

<nav class="navbar navbar-dark fixed-top navbar-expand-md">
    <a class="navbar-brand" href="@Url.Action("Index")">
        <span id="fw-brand-1">freie</span><span id="fw-brand-2">Wahl</span>
    </a>
    <!-- TODO: proper header when logged in! -->
</nav>
<div class="container pt-4">
    <h2>Über <span style="text-decoration:"></span></h2>
</div>
