@section stylesheets {
    <script src='https://www.google.com/recaptcha/api.js?render=6LcgCnkUAAAAAPz9NtANNeS0_8Fvx8uBx1eIbxXl'></script>
}

<nav class="navbar navbar-dark fixed-top navbar-expand-md">
    <a class="navbar-brand" href="@Url.Action("Index")">
        <img src="~/images/logo_darkbg.svg" style="height: 3rem;" />
    </a>
    <!-- TODO: proper header when logged in! -->
</nav>
<div class="container pt-4">
    <form id="contact-form" role="form">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="form_name">Vorname</label>
                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Vorname">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="form_lastname">Nachname</label>
                    <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Nachname">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="form_email">E-Mail</label>
                    <input id="form_email" type="email" name="email" class="form-control" placeholder="E-Mail-Adresse" required="required"
                           data-error="Bitte geben Sie eine gültige E-Mail-Adresse an.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="form_message">Nachricht</label>
            <textarea id="form_message" name="message" class="form-control" placeholder="Ihre Nachricht an uns" rows="4" required="required"
                      data-error="Bitte geben Sie eine Nachricht ein!"></textarea>
            <div class="help-block with-errors"></div>
        </div>
        <input type="hidden" id="input-recaptcha-token" name="recaptchaToken" />

        <input type="submit" class="btn btn-primary disabled" id="button-submit-contact" value="Abschicken">

    </form>
    <div class="alert alert-info d-none" id="alert-message-ok">Vielen Dank für Ihre Nachricht!</div>
    <div class="alert alert-danger d-none" id="alert-message-error">Ihre Nachricht konnte nicht abgeschickt werden. Bitte kontaktieren Sie uns per Mail.</div>
    <p class="mt-3">
        Sie können mich gerne unter <a href="mailto:michael@freiewahl.eu">michael@freiewahl.eu</a>  kontaktieren.
    </p>
</div>

@section scripts {
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LcgCnkUAAAAAPz9NtANNeS0_8Fvx8uBx1eIbxXl', { action: 'contactform' })
                .then(function (token) {
                    $('#input-recaptcha-token').val(token);
                    $('#button-submit-contact').removeClass('disabled');
                });
        });

        $(document).ready(function() {

            $("#contact-form").submit(function () {
                $('#button-submit-contact').fadeOut();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SendContactForm")",
                    data: $("#contact-form").serialize(),
                    success: function(data) {
                        $('#alert-message-ok').removeClass('d-none');
                    },
                    error: function(data) {
                        $('#alert-message-error').removeClass('d-none');
                    }
                });
                e.preventDefault(); // avoid to execute the actual submit of the form
            });

        });
    </script>
}