<nav class="navbar navbar-dark fixed-top navbar-expand-md">
    <a class="navbar-brand" href="@Url.Action("Index")">
        <img src="~/images/logo_darkbg.svg" style="height: 3rem;" />
    </a>
    <!-- TODO: proper header when logged in! -->
</nav>

<div class="container pt-4">
    <h1>Impressum</h1>
    <p>
        Informationspflicht laut §5 E-Commerce Gesetz, §14 Unternehmensgesetzbuch, §63 Gewerbeordnung und Offenlegungspflicht laut §25 Mediengesetz.<br />
        Diese Seite wird privat betrieben und erhalten. Verantwortlich für die Seite ist:<br />
        <br />
        <strong>Michael Faschinger</strong><br />

        Grottenhofstraße 130/1<br />
        8052 Graz<br />
        Österreich<br />

        E-Mail: <a href="mailto:michael@freiewahl.eu">michael@freiewahl.eu</a>.
    </p>

    <h3>EU-Streitschlichtung</h3><p>

        Gemäß Verordnung über Online-Streitbeilegung in Verbraucherangelegenheiten (ODR-Verordnung)
        möchten wir Sie über die Online-Streitbeilegungsplattform (OS-Plattform) informieren.
        Verbraucher haben die Möglichkeit, Beschwerden an die Online Streitbeilegungsplattform der
        Europäischen Kommission unter <a href="http://ec.europa.eu/odr?tid=221077869">http://ec.europa.eu/odr?tid=221077869</a> zu richten.
        Die dafür notwendigen Kontaktdaten finden Sie oberhalb in unserem Impressum. Wir möchten Sie
        jedoch darauf hinweisen, dass wir nicht bereit oder verpflichtet sind, an
        Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
    </p>
    <h3>Haftung für Inhalte dieser Webseite</h3><p>

        Wir entwickeln die Inhalte dieser Webseite ständig weiter und bemühen uns korrekte und
        aktuelle Informationen bereitzustellen. Leider können wir keine Haftung für die Korrektheit
        aller Inhalte auf dieser Webseite übernehmen, speziell für jene die seitens Dritter bereitgestellt wurden.

        Sollten Ihnen problematische oder rechtswidrige Inhalte auffallen, bitte wir Sie uns
        umgehend zu kontaktieren, Sie finden die Kontaktdaten weiter oben.
    </p>
    <h3>Haftung für Links auf dieser Webseite</h3><p>

        Unsere Webseite enthält Links zu anderen Webseiten für deren Inhalt wir nicht verantwortlich
        sind. Haftung für verlinkte Websites besteht laut § 17 ECG für uns nicht, da wir keine
        Kenntnis rechtswidriger Tätigkeiten hatten und haben, uns solche Rechtswidrigkeiten auch
        bisher nicht aufgefallen sind und wir Links sofort entfernen würden, wenn uns Rechtswidrigkeiten bekannt werden.<br />

        Wenn Ihnen rechtswidrige Links auf unserer Website auffallen, bitte wir Sie uns zu
        kontaktieren, Sie finden die Kontaktdaten im Impressum.<br />
    </p>
</div>