@{
    ViewData["Title"] = "Home Page";
}

<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="configureFirebaseLoginWidget()">
    LOG IN
</button>

<div id="firebaseui-auth-container"></div>
