@{
    ViewData["Title"] = "Home Page";
}


@section stylesheets {
    <link rel="stylesheet" type="text/css" href="~/lib/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/slick-carousel/slick/slick-theme.css" />
}

<div class="container-fluid" id="fw-title-banner">
    <div class="container pt-3">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-6">
                <h1 class="border-left border-top border-bottom mr-0 pl-0 ml-4 d-inline display-4 rounded">
                    <span class="text-light px-2 font-weight-bold">freie</span><span class="border text-primary bg-light px-2 font-italic rounded">Wahl</span>
                </h1>
                <p class="pt-4">
                    Führen Sie kostenlos, einfach und schnell Wahlen und Abstimmungen durch. Mit der Bürgerkarte als Identitätsnachweise und sicherer, anonymer Speicherung der Wahlergebnisse haben Sie die <span class="border rounded"><span class="px-1">freie</span><i class="text-primary bg-white px-1">Wahl</i></span>.
                </p>
            </div>
            <div class="col-12 col-lg-5 mb-3 float-right" id="fw-firebase-auth-container">
            </div>
        </div>
    </div>
</div>
<div class="d-none" style="position: fixed; top: 0; left: 0; right: 0; width: 100%; height: 20rem; background-color: rgba(0, 0, 0, 0.5); z-index: 3" id="login-overlay-loading">
    <h1 class="text-center text-white mx-auto mt-5">Lade Abstimmungen...</h1>
</div>

<div class="text-primary container">
    <h1 class="display-4 text-uppercase border-bottom">
        So funktioniert es
    </h1>
    <div class="row my-3 pb-3 justify-content-between">
        <div class="col-12 col-lg-6">
            <div class="video-container">
                <iframe class="mx-auto border-0" src="https://www.youtube.com/embed/oOyiix8rr2E" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="video-container mt-3 mt-lg-0">
                <iframe class="mx-auto border-0" src="https://www.youtube.com/embed/YfU1ul8CEbs" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div id="functions-slick" class="row mt-2">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card border">
                <img class="card-img-top fw-card-svg" src="icons/baseline-account_box-24px.svg" alt="Wahl erstellen" />
                <div class="card-body" style="height: 9rem">
                    <h5 class="card-title">Anmelden</h5>
                    <p class="card-text">Eröffnen Sie einen Account und melden Sie sich mit Ihrer E-Mail-Adresse an.</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card border">
                <img class="card-img-top fw-card-svg" src="icons/outline-create-24px.svg" alt="Wahl erstellen" />
                <div class="card-body" style="height: 9rem">
                    <h5 class="card-title">Erstellen</h5>
                    <p class="card-text">Erstellen Sie eine neue Abstimmung. In wenigen Schritten haben Sie alles eingestellt.</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card border">
                <img class="card-img-top fw-card-svg" src="icons/outline-email-24px.svg" alt="Wahlberechtigte einladen">
                <div class="card-body" style="height: 9rem">
                    <h5 class="card-title">Einladen</h5>
                    <p class="card-text">Laden Sie Wahlberechtigte dazu ein, an Ihrer Abstimmung teilzunehmen.</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card border">
                <img class="card-img-top fw-card-svg" src="icons/outline-how_to_reg-24px.svg" alt="Registrierung">
                <div class="card-body" style="height: 9rem">
                    <h5 class="card-title">Registrierung</h5>
                    <p class="card-text">Warten Sie ab, welche Wahlberechtigten Ihrer Einladung folgen.</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card border">
                <img class="card-img-top fw-card-svg" src="icons/outline-how_to_vote-24px.svg" alt="Durchführung">
                <div class="card-body" style="height: 9rem">
                    <h5 class="card-title">Durchführung</h5>
                    <p class="card-text">Stellen Sie Fragen, lassen Sie abstimmen. Jetzt sind die WählerInnen am Wort!</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card border">
                <img class="card-img-top fw-card-svg" src="icons/outline-insert_chart-24px.svg" alt="Auswertung">
                <div class="card-body" style="height: 9rem">
                    <h5 class="card-title">Auswertung</h5>
                    <p class="card-text">Welche Option bekommt die meisten Stimmen? Wie ist die Stimmverteilung?</p>
                </div>
            </div>
        </div>
    </div>

    <h1 class="display-4 text-uppercase border-bottom pt-4">
        Transparent, sicher, anonym
    </h1>
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            <img src="icons/outline-people-24px.svg" style="width: 15rem; max-width: 100%; margin: auto;" alt="Symbolbild Personen">
        </div>
        <div class="col-12 col-md-8 text-dark align-self-center">
            Ihr Verein, Ihre Partei, Ihr Team möchte über etwas abstimmen. Ihnen ist Sicherheit, Transparenz und
            Anonymität wichtig. Die Freie Wahl ist die Lösung für Sie. Frei heißt gratis, einfach und transparent.
            Probieren Sie es einfach aus.
        </div>
    </div>

    <h1 class="display-4 text-uppercase border-bottom mt-3">
        Sicherheit
    </h1>
    <div class="row flex-row-reverse align-content-center">
        <div class="col-12 col-md-4 text-center">
            <img src="icons/outline-lock-24px.svg" style="width: 15rem; max-width: 100%; margin: auto;" alt="Symbolbild Sicherheit">
        </div>
        <div class="col-12 col-md-8 text-dark align-self-center">
            Sie möchten verhindern, dass jemand doppelt abstimmt? Sie wollen sicherstellen, dass
            nur registrierte, berechtigte Personen abstimmen? Durch den Einsatz der Handysignatur
            können wir garantieren, dass niemand schummelt. Wir speichern die Wahlergebnisse
            anonymisiert, trotzdem kann jede Wählerin/jeder Wähler nachprüfen, dass ihre/seine Stimme richtig gezählt
            wurde.
        </div>
    </div>
</div>

@section scripts {
    <script src="~/lib/slick-carousel/slick/slick.min.js"></script>
    <script>
        $('body').addClass('pt-0');

        $(document).ready(function () {
            setupLoginUi();

            $('#functions-slick').slick({
                dots: true,
                autoplay: true,
                infinite: false,
                speed: 300,
                slidesToShow: 3,
                slidesToScroll: 2,
                arrows: true,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }

                ]
            });
        });

    </script>
}