<nav class="navbar navbar-dark fixed-top navbar-expand-md">
    <a class="navbar-brand" href="@Url.Action("Index")">
        <span id="fw-brand-1">freie</span><span id="fw-brand-2">Wahl</span>
    </a>
    <!-- TODO: proper header when logged in! -->
</nav>
<div class="container pt-4">
    <h1>Datenschutzerklärung</h1>
    <h3>Datenschutz</h3><p>

        Wir haben diese Datenschutzerklärung (Fassung 04.11.2018-221077869) verfasst,
        um Ihnen gemäß der Vorgaben der Datenschutz-Grundverordnung (EU) 2016/679 und
        dem Datenschutzgesetz (DSG) zu erklären, welche Informationen wir sammeln, wie
        wir Daten verwenden und welche Entscheidungsmöglichkeiten Sie als Besucher dieser Webseite haben.<br />

        Leider liegt es in der Natur der Sache, dass diese Erklärungen sehr technisch
        klingen, wir haben uns bei der Erstellung jedoch bemüht die wichtigsten Dinge so einfach und klar
        wie möglich zu beschreiben.
    </p>
    <h3>Automatische Datenspeicherung</h3><p>

        Wenn Sie heutzutage Webseiten besuchen, werden gewisse Informationen automatisch
        erstellt und gespeichert, so auch auf dieser Webseite.<br />

        Wenn Sie unsere Webseite so wie jetzt gerade besuchen, speichert unser Webserver
        (Ein Computer der Firma Google in Frankfurt, auf dem diese Webseite läuft) automatisch Daten wie

        <ul>
            <li>die Adresse (URL) der aufgerufenen Webseite</li>
            <li>Browser und Browserversion</li>
            <li>das verwendete Betriebssystem</li>
            <li>die Adresse (URL) der zuvor besuchten Seite (Referrer URL)</li>
            <li>den Hostname und die IP-Adresse des Geräts von welchem aus zugegriffen wird</li>
            <li>Datum und Uhrzeit</li>
        </ul>
        in Dateien (Webserver-Logfiles).

        In der Regel werden Webserver-Logfiles zwei Wochen gespeichert und danach automatisch gelöscht.
        Wir geben diese Daten nicht weiter, können jedoch nicht ausschließen, dass diese Daten beim
        Vorliegen von rechtswidrigem Verhalten eingesehen werden.<br />
        Die Rechtsgrundlage besteht nach Artikel 6  Absatz 1 f DSGVO (Rechtmäßigkeit der Verarbeitung)
        darin, dass berechtigtes Interesse daran besteht, den fehlerfreien Betrieb dieser Webseite
        durch das Erfassen von Webserver-Logfiles zu ermöglichen.
    </p>
    <h3>Rechte laut Datenschutzgrundverordnung</h3><p>

        Ihnen stehen laut den Bestimmungen der DSGVO und des österreichischen Datenschutzgesetzes (DSG) grundsätzlich die folgende Rechte zu:
        <ul>
            <li>Recht auf Berichtung (Artikel 16 DSGVO)</li>
            <li>Recht auf Löschung („Recht auf Vergessenwerden“) (Artikel 17 DSGVO)</li>
            <li>Recht auf Einschränkung der Verarbeitung (Artikel 18 DSGVO)</li>
            <li>
                Recht auf Benachrichtigung – Mitteilungspflicht im Zusammenhang mit der
                Berichtigung oder Löschung personenbezogener Daten oder der Einschränkung der Verarbeitung (Artikel 19 DSGVO)
            </li>
            <li>Recht auf Datenübertragbarkeit (Artikel 20 DSGVO)</li>
            <li>Widerspruchsrecht (Artikel 21 DSGVO)</li>
            <li>
                Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung -
                einschließlich Profiling - beruhenden Entscheidung unterworfen zu werden (Artikel 22 DSGVO)
            </li>
        </ul>
        Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht
        verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind,
        können Sie sich bei der Aufsichtsbehörde beschweren, welche in Österreich die
        Datenschutzbehörde ist, deren Webseite Sie unter
        <a href="https://www.dsb.gv.at/">https://www.dsb.gv.at/</a> finden.
    </p>
    <h3>TLS-Verschlüsselung mit https</h3><p>

        Wir verwenden https um Daten abhörsicher im Internet zu übertragen (Datenschutz
        durch Technikgestaltung Artikel 25 Absatz 1 DSGVO). Durch den Einsatz von TLS
        (Transport Layer Security), einem Verschlüsselungsprotokoll zur sicheren
        Datenübertragung im Internet können wir den Schutz vertraulicher Daten sicherstellen.
        Sie erkennen die Benutzung dieser Absicherung der Datenübertragung am kleinen Schloßsymbol
        links oben im Browser und der Verwendung des Schemas https (anstatt http) als Teil
        unserer Internetadresse.
    </p>
    <h3>Cookies</h3><p>

        Unsere Website verwendet, wenn Sie sich einloggen, HTTP-Cookies um
        sich Ihren Login-Status zu merken. Ein Cookie ist ein kurzes Datenpaket,
        welches zwischen Webbrowser und Webserver ausgetauscht wird, für diese
        aber völlig bedeutungslos ist und erst für unsere Webanwendung eine Bedeutung erhält.<br>
        Wir nutzen ausschließlich sogenannte Session-Cookies, um unsere Webseite nutzerfreundlicher
        zu gestalten. Das Session-Cookie bleibt auf Ihrem Endgerät gespeichert, bis Sie dieses
        löschen. Es ermöglicht es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.
    </p>
    <h3>Cookie Einstellungen sehen und Cookies löschen</h3><p>

        Wenn Sie feststellen möchten, welche Cookies in Ihrem Browser gespeichert wurden,
        Cookie-Einstellungen ändern oder Cookies löschen möchten, können Sie dies in Ihren
        Browser-Einstellungen finden.<br />

        Wenn Sie die Speicherung von Daten in Cookies nicht wünschen, so können Sie Ihren
        Browser so einrichten, dass er Sie über das Setzen von Cookies informiert und Sie
        dies nur im Einzelfall erlauben. Sie können jederzeit Cookies, die sich bereits
        auf Ihrem Computer befinden, löschen oder Cookies deaktivieren. Die Vorgangsweise
        dazu ist nach Browser unterschiedlich.<br />
        Wenn Sie uns generell nicht gestatten, werden Sie sich zwar über unsere Seite informieren
        können und an Abstimmungen teilnehmen können, sie werden sich jedoch nicht einloggen
        können und Wahlen oder Abstimmungen administrieren.<br />
    </p>
    <h3>Google Fonts Datenschutzerklärung</h3><p>

        Wir verwenden Google Fonts der Firma Google Inc. (1600 Amphitheatre Parkway Mountain
        View, CA 94043, USA) auf unserer Webseite. Die Verwendung von Google Fonts erfolgt ohne
        Authentisierung und es werden keine Cookies and die Google Fonts API gesendet. Sollten
        Sie ein Konto bei Google haben, werden keine Ihrer Google-Kontodaten an Google während
        der Nutzung von Google Fonts übermittelt. Google erfasst lediglich die Nutzung von CSS
        und der verwendeten Fonts und speichert diese Daten sicher. Mehr zu diesen und weiteren
        Fragen finden Sie auf <a href="https://developers.google.com/fonts/faq?tid=221077869">https://developers.google.com/fonts/faq?tid=221077869</a>.<br />

        Welche Daten von Google erfasst werden und wofür diese Daten verwendet werden, können Sie
        auf <a href="https://www.google.com/intl/de/policies/privacy/"></a> nachlesen.
    </p>
</div>