<nav class="navbar navbar-dark fixed-top navbar-expand-md">
    <a class="navbar-brand" href="@Url.Action("Index")">
        <span id="fw-brand-1">freie</span><span id="fw-brand-2">Wahl</span>
    </a>
    <!-- TODO: proper header when logged in! -->
</nav>

TODO TODO
Sie erklären sich einverstanden, die Dienste nur gemäss (i) der vorliegenden Bestimmungen und (ii) der für Sie relevanten Regelungen und Gesetzgebung einzusetzen.
    Für manche Dienste (oder Teile davon) kann FreieWahl eine Registrierung für ein Benutzerkonto voraussetzen oder optional anbieten. Sie sind verpflichtet, alle im Rahmen einer Registrierung nötigen Informationen korrekt und wahrheitsgemäss auszufüllen und aktuell zu halten. Sie sind ausserdem verantwortlich für die Sicherheit Ihres Passworts. Es ist nicht zulässig, Konten automatisiert zu erstellen.
    Für manche Dienste (oder Teile davon) erlaubt FreieWahl, ein persönliches Profilbild zu konfigurieren. Sie sind dafür verantwortlich, dass Ihr Profilbild nicht missbräuchlich ist, keine Urheber- oder Marken- oder sonstigen Rechte verletzt und nicht anstössig wirkt auf andere FreieWahl-Benutzer.
    Für manche Dienste (oder Teile davon) können Sie eine persönliche URL (Webadresse) definieren. FreieWahl behält sich vor, diese URL zu ändern oder zurückzuweisen, zum Beispiel weil Sie absichtlich oder unabsichtlich die Markenrechte eines Dritten verletzen oder eine anstössige URL gewählt haben.
    Sie dürfen sich auf FreieWahl nicht als eine andere Person ausgeben.
    Sie erklären sich einverstanden, die Dienste nicht in irgendeiner Weise absichtlich zu stören oder zu unterbrechen.
    Sie erklären sich einverstanden, die Dienste zu keinem Zweck zu reproduzieren, zu kopieren, zu verkaufen, zu handeln oder weiterzuvertreiben.
    Sie erklären sich mit der Datenschutzrichtlinie (Privacy Policy) von FreieWahl einverstanden. Diese ist einsehbar unter TODO LINK.
    FreieWahl behält sich vor (aber ist nicht dazu verpflichtet), Inhalte oder Konten innerhalb der Dienste zu prüfen, zu filtern, zu verändern, zurückzuweisen oder zu löschen. Sie nehmen zur Kenntnis, dass Sie durch die Benutzung von FreieWahl Daten ausgesetzt werden können, die beleidigend, anstössig oder in anderer Weise zu beanstanden sind.
