<nav class="navbar navbar-dark fixed-top navbar-expand-md">
    <a class="navbar-brand" href="@Url.Action("Index")">
        <img src="~/images/logo_darkbg.svg" style="height: 3rem;" />
    </a>
    <!-- TODO: proper header when logged in! -->
</nav>

<div class="container pt-4">
    <h1>Nutzungsbedingungen</h1>
    <ol>
        <li>Sie erklären sich einverstanden, die Dienste nur gemäss (i) der vorliegenden Bestimmungen und (ii) der für Sie relevanten Regelungen und Gesetzgebung einzusetzen.</li>
        <li>Für manche Dienste (oder Teile davon) kann FreieWahl eine Registrierung für ein Benutzerkonto voraussetzen oder optional anbieten. Sie sind verpflichtet, alle im Rahmen einer Registrierung nötigen Informationen korrekt und wahrheitsgemäss auszufüllen und aktuell zu halten. Sie sind ausserdem verantwortlich für die Sicherheit Ihres Passworts. Es ist nicht zulässig, Konten automatisiert zu erstellen.</li>
        <li>Für manche Dienste (oder Teile davon) erlaubt FreieWahl, ein persönliches Profilbild oder ein Bild zu einer Wahl zu konfigurieren. Sie sind dafür verantwortlich, dass Ihr Profilbild nicht missbräuchlich ist, keine Urheber- oder Marken- oder sonstigen Rechte verletzt und nicht anstössig wirkt auf andere FreieWahl-Benutzer.</li>
        <li>Sie dürfen sich auf FreieWahl nicht als eine andere Person ausgeben.</li>
        <li>Sie erklären sich einverstanden, die Dienste nicht in irgendeiner Weise absichtlich zu stören oder zu unterbrechen.</li>
        <li>Sie erklären sich mit der @Html.ActionLink("Datenschutzrichtlinie (Privacy Policy)", "Privacy") von FreieWahl einverstanden.</li>
        <li>FreieWahl behält sich vor (aber ist nicht dazu verpflichtet), Inhalte oder Konten innerhalb der Dienste zu prüfen, zu filtern, zu verändern, zurückzuweisen oder zu löschen. Sie nehmen zur Kenntnis, dass Sie durch die Benutzung von FreieWahl Daten ausgesetzt werden können, die beleidigend, anstössig oder in anderer Weise zu beanstanden sind.</li>
    </ol>
</div>