@using FreieWahl.Voting.Models
@model FreieWahl.Models.Voting.QuestionData

<h1 class="display-4">Offene Fragen</h1>

@if (!Model.OpenQuestions.Any())
{
    <h3>Derzeit keine offenen Fragen...</h3>
}

@foreach (var question in Model.OpenQuestions)
{
    if (question.Type == QuestionType.Decision)
    {
        @await Html.PartialAsync("_VoteDecisionQuestion", question);
    }
    else if (question.Type == QuestionType.Ordering)
    {
        @await Html.PartialAsync("_VoteOrderingQuestion", question);
    }
    else if (question.Type == QuestionType.MultipleChoice)
    {
        @await Html.PartialAsync("_VoteMultipleChoiceQuestion", question);
    }
}

@if (Model.AnsweredQuestions.Any())
{
    <h1 class="display-4 border-top">Beantwortete Fragen</h1>
}
