@using FreieWahl.Models.Voting
@using FreieWahl.Voting.Models
@using Microsoft.CodeAnalysis.CSharp.Syntax
@model FreieWahl.Models.Voting.QuestionData

@if (!Model.Questions.Any())
{
    <h3>Derzeit keine offenen Fragen...</h3>
}

@foreach (var question in Model.Questions)
{
    if (question.AnswerStatus == VotingQuestionStatus.Open)
    {
        if (question.Question.Type == QuestionType.Decision)
        {
            @await Html.PartialAsync("_VoteDecisionQuestion", question.Question)
        }
        else if (question.Question.Type == QuestionType.Ordering)
        {
            @await Html.PartialAsync("_VoteOrderingQuestion", question.Question)
        }
        else if (question.Question.Type == QuestionType.MultipleChoice)
        {
            @await Html.PartialAsync("_VoteMultipleChoiceQuestion", question.Question)
        }
    }
    else
    {
        if (question.Question.Type == QuestionType.Decision)
        {
            @await Html.PartialAsync("_AnsweredDecisionQuestion", question)
        }
        else if (question.Question.Type == QuestionType.Ordering)
        {
            @await Html.PartialAsync("_AnsweredOrderingQuestion", question)
        }
        else if (question.Question.Type == QuestionType.MultipleChoice)
        {
            @await Html.PartialAsync("_AnsweredMultipleChoiceQuestion", question)
        }
    }
}