@{
    ViewData["Title"] = "Get tokens";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<form target="signatureFrame" id="buergerkarteLoader" action="https://www.a-trust.at/mobile/https-security-layer-request/default.aspx" enctype="application/x-www-form-urlencoded" method="post" style="display: none;">

    <!-- XMLRequest -->
    <input type="hidden" name="XMLRequest" id="sigRequest" value="<?xml version='1.0' encoding='UTF-8' ?>
    <sl:CreateCMSSignatureRequest xmlns:sl='http://www.buergerkarte.at/namespaces/securitylayer/1.2#' Structure='enveloping'>
        <sl:KeyboxIdentifier>SecureSignatureKeypair</sl:KeyboxIdentifier>
        <sl:DataObject>
            <sl:MetaInfo><sl:MimeType>text/plain</sl:MimeType></sl:MetaInfo>
            <sl:Content>
                <sl:Base64Content>TOKEN_PLACEHOLDER</sl:Base64Content>
            </sl:Content>
        </sl:DataObject>
    </sl:CreateCMSSignatureRequest>" />

    <input type="hidden" name="appletheight" value="250" />
    <input type="hidden" name="appletwidth" value="250" />

    <!-- DataURL -->
    <input type="hidden" name="DataURL" value="https://groovy-cider-826.appspot.com/HandySignatur" />

    <!-- Submit Button -->
    <input type="submit" value="Test Request" />

</form>

<iframe name="signatureFrame" id="signatureFrame" width="250px" height="250px" scrolling="no"></iframe>

<script>
    var orig_val = $("#sigRequest").val();
    var base64_encoded = window.btoa(@ViewData["VotingId"] + '_michfasch@gmx.at');
    $("#sigRequest").val(orig_val.replace("TOKEN_PLACEHOLDER", base64_encoded));
    $("#buergerkarteLoader").submit();
</script>