@using FreieWahl.Voting.Models
@model FreieWahl.Models.Voting.VoteModel

<h2>@Model.VotingTitle</h2>

@foreach (var question in Model.Questions)
{
    if (question.Type == QuestionType.Decision)
    {
        @await Html.PartialAsync("_VoteDecisionQuestion", question)
    }
    else if (question.Type == QuestionType.MultipleChoice)
    {
        @await Html.PartialAsync("_VoteMultipleChoiceQuestion", question)
    }
    else if (question.Type == QuestionType.Ordering)
    { //@Json.Serialize(Model)
        @await Html.PartialAsync("_VoteOrderingQuestion", question)
    }
}