<nav class="navbar navbar-dark fixed-top navbar-expand-md">
    <a class="navbar-brand" href="@Url.Action("Overview")">
        <img src="~/images/logo_darkbg_trans.svg" style="height: 3rem;"/>
    </a>
    <ul class="navbar-nav navbar-expand ml-auto">
        @if ((bool)ViewData["IsOverview"] == false)
        {
            <li class="nav-item">
                <a href="@Url.Action("Overview")"><i class="material-icons mr-3 rounded-circle p-1 button-shadow" style="background-color: #DCE4E7; font-size: 2rem;">home</i></a>
            </li>
        }
        <li class="nav-item dropleft">
            <a class="nav-link button-shadow" href="#" id="fw-account" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @ViewData["Initials"]
            </a>
            <div class="dropdown-menu" aria-labelledby="fw-account">
                @Html.ActionLink("Ausloggen", "Index", "Home", new { source = "logout" }, new { @class = "dropdown-item"})
            </div>
        </li>
    </ul>
</nav>