<nav class="navbar navbar-dark fixed-top navbar-expand-md">
    <a class="navbar-brand" href="#">
        <span id="fw-brand-1">freie</span><span id="fw-brand-2">Wahl</span>
    </a>
    <ul class="navbar-nav ml-auto">
        @if ((bool)ViewData["IsOverview"] == false)
        {
            <li class="nav-item">
                <a href="Overview"><i class="material-icons mr-3 rounded-circle p-1" style="background-color: #DCE4E7; font-size: 2rem;">home</i></a>
            </li>
        }
        <li class="nav-item dropleft">
            <a class="nav-link" href="#" id="fw-account" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @ViewData["Initials"]
            </a>
            <div class="dropdown-menu" aria-labelledby="fw-account">
                @Html.ActionLink("Ausloggen", "Index", "Home", new { source = "logout" }, new { @class = "dropdown-item"})
            </div>
        </li>
    </ul>
</nav>