<div class="modal fade" id="inviteVotersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">WählerInnen einladen</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <p>
                        <small>
                            Folgende Mail wird an alle Adressen geschickt, die bei den EmpfängerInnen aufgelistet sind.
                        </small>
                    </p>
                    <div class="alert alert-primary" role="alert" id="fwInviteMailText" data-utcoffset="@ViewData["RegistrationDate"]">
                        <h5 class="alert-heading"><strong>Betreff:</strong> Einladung zur Abstimmung @ViewData["Title"]</h5>
                        Liebe Wahlberechtigte!<br />
                        Sie sind eingeladen, an unserer Abstimmung <i>@ViewData["Title"]</i> teilzunehmen. Bitte registrieren Sie sich bis spätestens $datum$
                        @Html.ActionLink("hier", "Register", "Registration", new { votingId = ViewData["VotingId"] }, new { @class = "alert-link" }).<br />
                        Vielen Dank!
                    </div>
                    <p>
                        <small>
                            Bitte geben Sie hier die Mail-Adressen der EmpfängerInnen ein. Die Mail-Adressen sollten durch Beistriche, Strichpunkte oder Zeilenumbrüche getrennt sein.
                        </small>
                    </p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">EmpfängerInnen</span>
                        </div>
                        <textarea class="form-control" aria-label="EmpfängerInnen" rows="10" placeholder="mail@provider.com" id="mailRecipients"></textarea>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-primary" id="fwBtnSendInvitations">OK</button>
            </div>
        </div>
    </div>
</div>