@model FreieWahl.Models.VotingAdministration.VotingOverviewModel

@await Html.PartialAsync("_Header", new ViewDataDictionary(ViewData) { { "Initials", Model.Initials }, { "IsOverview", true } })

@await Html.PartialAsync("_NewVotingModal")

<div class="container-fluid fw-banner">
    <div class="container">
        <div class="row align-items-end py-3">
            <div class="col-12 col-md-6 col-lg-auto">
                <div id="fw-user-img-content" class="fw-user-img" style="cursor: pointer" onclick="showFileSelector('#fw-user-img-upload')">
                    @if (!string.IsNullOrEmpty(Model.Image))
                    {
                        <img src="@Model.Image" style="max-height: 300px; max-width: 300px" id="fw-user-img" />
                    }
                    else
                    {
                        <i class="material-icons fw-user-img" id="fw-user-img-dummy">account_circle</i>
                    }
                    <canvas id="fw-user-img-real" style="display: none;" width="300" height="300"></canvas>
                    <div id="fw-user-img-selector" style="position: absolute; top: 0; left: 1rem; color: white; display: flex; align-content: center; padding: .1rem; border: 1px solid rgba(255, 255, 255, 0); height: 2rem">
                        <i id="fw-user-img-icon" class="material-icons" style="font-size: 2rem; text-shadow: 0px 1px 1px #657f8C">
                            photo_camera
                        </i>
                        <span id="fw-user-img-text" style="opacity: 0; margin: 0.1rem .5rem; font-size: .9rem; font-weight: 400">
                            Profilbild &auml;ndern
                        </span>
                    </div>
                    <div id="fw-user-img-upload" style="display: none; position: absolute; top: 2rem; left: 0; background-color: white; border: 1px solid #657f8c; padding: .5rem; border-radius: .5rem;">
                        <form>
                            <p style="font-size: .8rem;">Wählen Sie ein Profilbild.</p>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="fw-user-img-input" required>
                                <label class="custom-file-label" for="fw-user-img-input">...</label>
                                <div class="invalid-feedback">Yadda TODO</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <h1 class="h1 display-4 text-uppercase text-primary" style="margin-bottom:-.75rem !important">
                    @Model.FullName
                </h1>
            </div>
            <div class="col-lg-4 col-12 text-primary" style="font-size: 0.9rem">
                <div class="float-right" style="line-height: 1.2">

                    <span id="fw-active-voting-count">...</span><br />
                    <strong>aktive</strong><br />
                    Abstimmungen<br /><br />
                    <span id="fw-passed-voting-count">2</span><br />
                    <strong>abgeschlossene</strong><br />
                    Abstimmungen
                </div>
            </div>
        </div>
    </div>
</div>
<main role="main" class="container">

    <h1 class="display-4 w-100 text-primary border-bottom text-uppercase my-3">Aktive Abstimmungen</h1>
    <div class="container mb-4">
        <div class="row" style="position: relative">
            <div class="d-none align-items-center p-2 border rounded my-5" id="fw-new-voting-onboarding" style="cursor:pointer" onclick="createVoting()">
                <i class="material-icons text-white rounded-circle bg-secondary p-1" style="font-size:2.5rem;height:3rem;width:3rem;box-shadow:0px 3px 4px #657f8C">add</i>
                <div class="text-primary ml-3 pt-1" ><h5 style="font-weight:300">Erstellen Sie in wenigen Schritten eine neue Abstimmung.</h5>
                    <small>Laden Sie Wahlberechtigte ein, erstellen Sie Fragen und geben Sie diese zur Abstimmung frei!</small></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12" id="fw-load-votings-card">
                <div class="card fw-overview-card">
                    <div class="card-img-top" style="height: 15rem; text-align: center; padding-top: 2rem;">
                        <div class="loader-outer"></div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Lade Abstimmungen...</h5>
                    </div>
                </div>
            </div>
            <div class="d-none"  id="fw-new-voting-button" onclick="createVoting()" style="cursor: pointer;position: absolute;bottom:-2rem; right: 1rem;"><i class="material-icons text-white rounded-circle bg-secondary p-1" style="font-size:3.5rem;height:4rem;width:4rem;box-shadow:0px 4px 5px gray">add</i></div>
        </div>
    </div>

    @*<h1 class="display-4 w-100 text-primary border-bottom text-uppercase my-3">Abgeschlossene Abstimmungen</h1>
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="fw-finished-vote-card">
                    <img src="~/images/traffic-jam-388924_640.jpg" class="fw-finished-vote" alt="Card image cap">
                    <div class="fw-finished-vote-card-content">
                        <div class="fw-finished-vote-card-text">
                            <h5>Citymaut in Graz</h5>
                            <p>Welche Linie soll die Partei bei der Citymaut verfolgen?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="fw-finished-vote-card">
                    <img src="~/images/rings-1287753_640.jpg" class="fw-finished-vote" alt="Card image cap">
                    <div class="fw-finished-vote-card-content">
                        <div class="fw-finished-vote-card-text">
                            <h5>Olympiabewerbung</h5>
                            <p>Soll Graz sich für die Austragung der Olympischen Winterspiele 2026 bewerben?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</main>

@section scripts {

    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.de.min.js"></script>

    <script>
        setupOverview();
    </script>
}