@using FreieWahl.Controllers
@using Microsoft.Extensions.Localization
@model FreieWahl.Models.VotingAdministration.VotingOverviewModel

<nav class="navbar navbar-dark fixed-top navbar-expand-md">
    <a class="navbar-brand" href="#">
        <span id="fw-brand-1">freie</span><span id="fw-brand-2">Wahl</span>
    </a>
    <ul class="navbar-nav ml-auto">
        <a href="#"><span id="fw-account">@Model.Initials</span></a>
    </ul>
</nav>

<div class="modal fade" id="newVotingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Neue Abstimmung</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row" style="margin-bottom:1rem;">
                        <div class="col-12">
                            <input type="text" class="form-control form-control-lg" aria-label="Large" aria-describedby="inputGroup-sizing-sm"
                                   placeholder="Name" id="fwNewVotingName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <textarea type="textarea" class="form-control form-control-sm" id="fwNewVotingDescription" rows="7"
                                      placeholder="Beschreibung"></textarea>

                            <div id="fw-voting-img-content" class="fw-voting-img" style="cursor: pointer; position: relative; background-color: #dce4e7; margin-top: 1rem; text-align: center" onclick="showFileSelector('#fw-voting-img-upload')">
                                <i class="material-icons fw-voting-img" id="fw-voting-img-dummy">how_to_vote</i>
                                <canvas id="fw-voting-img-real" style="display:none;" with="300" height="300"></canvas>                  
                                <div id="fw-voting-img-selector" style="position:absolute;top:0rem;left:0rem;color:white;display:flex;align-content: center;padding:.1rem;border:1px solid #FFFFFF00;height:2rem">
                                    <i id="fw-voting-img-icon" class="material-icons" style="font-size:2rem;text-shadow:0px 1px 1px #657f8C;">
                                        photo_camera
                                    </i>
                                    <span id="fw-voting-img-text" style="opacity: 0;margin:0.1rem .5rem;font-size: .9rem;font-weight: 400">
                                        Bild &auml;ndern
                                    </span>
                                </div>
                                <div id="fw-voting-img-upload" style="display:none;position:absolute;top:2rem;left:0;background-color:white;border:1px solid #657f8c;padding:.5rem;border-radius: .5rem;">
                                    <form>
                                        <p style="font-size: .8rem;">Wählen Sie ein Bild für Ihre Abstimmung.</p>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="fw-voting-img-input" required>
                                            <label class="custom-file-label" for="fw-voting-img-input">....</label>
                                            <div class="invalid-feedback">Yadda TODO</div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group form-group-sm date">
                                <label for="fwStartDate">Startdatum/-zeit</label>
                                <input type="text" class="form-control form-control-sm" id="fwStartDate" placeholder="dd.mm.yyyy"><span class="input-group-addon"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-sm" id="fwStartTime" aria-describedby="emailHelp"
                                       placeholder="hh:mm">
                            </div>
                            <div class="form-group date">
                                <label for="exampleInputEmail1">Enddatum/-zeit</label>
                                <input type="text" class="form-control form-control-sm"><span class="input-group-addon" placeholder="dd.mm.yyyy"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-sm" id="fwEndTime" aria-describedby="emailHelp"
                                       placeholder="hh:mm">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-primary" onclick="saveVoting();">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid fw-banner">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-12 col-lg-8 fw-userheader-container">
                <div id="fw-user-img-content" class="fw-user-img" style="cursor: pointer" onclick="showFileSelector('#fw-user-img-upload')">
                    @if (!string.IsNullOrEmpty(Model.Image))
                    {
                        <img src="@Model.Image" style="max-height: 300px; max-width: 300px" />
                    }
                    else
                    {
                        <i class="material-icons fw-user-img" id="fw-user-img-dummy">account_circle</i>
                        <canvas id="fw-user-img-real" style="display: none;" width="300" height="300"></canvas>
                    }
                    <div id="fw-user-img-selector" style="position: absolute; top: 0; left: 0; color: white; display: flex; align-content: center; padding: .1rem; border: 1px solid rgba(255, 255, 255, 0); height: 2rem">
                        <i id="fw-user-img-icon" class="material-icons" style="font-size: 2rem; text-shadow: 0px 1px 1px #657f8C">
                            photo_camera
                        </i>
                        <span id="fw-user-img-text" style="opacity: 0; margin: 0.1rem .5rem; font-size: .9rem; font-weight: 400">
                            Profilbild &auml;ndern
                        </span>
                    </div>
                    <div id="fw-user-img-upload" style="display: none; position: absolute; top: 2rem; left: 0; background-color: white; border: 1px solid #657f8c; padding: .5rem; border-radius: .5rem;">
                        <form>
                            <p style="font-size: .8rem;">Wählen Sie ein Profilbild.</p>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="fw-user-img-input" required>
                                <label class="custom-file-label" for="fw-user-img-input">...</label>
                                <div class="invalid-feedback">Yadda TODO</div>
                            </div>
                        </form>
                    </div>
                </div>
                <span class="fw-userheader">@Model.FullName</span>
            </div>
            <div class="col">
                <div class="fw-userinfo">
                    <span class="fw-userinfo-block" id="fw-active-voting-count">...</span>
                    <span class="fw-userinfo-block fw-userinfo-important">aktive</span>
                    <span>Abstimmungen</span>
                </div>
                <div class="fw-userinfo">
                    <span class="fw-userinfo-block" id="fw-passed-voting-count">2</span>
                    <span class="fw-userinfo-block fw-userinfo-important">abgeschlossene</span>
                    <span>Abstimmungen</span>
                </div>
            </div>
        </div>
    </div>
</div>
<main role="main" class="container">


    <div class="fw-overview-list">
        <h1>Aktive Abstimmungen</h1>
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-sm-12" id="fw-add-voting-card" style="display: none">
                    <div class="card fw-overview-card" style="cursor: pointer; background-color:#DCE4E7;color:#657f8C" onclick="createVoting()"
                         onmouseenter="highlightAddVoting('#fw-add-voting-icon')" onmouseleave="resetAddVoting('#fw-add-voting-icon')">
                        <i class="card-img-top material-icons" style="width:100%;text-align:center;font-size:15rem" id="fw-add-voting-icon">add_circle_outline</i>
                        <div class="card-body">
                            <h5 class="card-title">Neue Abstimmung</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12" id="fw-load-votings-card">
                    <div class="card fw-overview-card">
                        <div class="card-img-top" style="height: 15rem; text-align: center; padding-top: 2rem;">
                            <div class="loader-outer"></div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Lade Abstimmungen...</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="d-flex justify-content-end" style="width:100%">
          <div style="background-color:#3481AB;height:3.5rem;width:3.5rem;border-radius: 2rem;box-shadow: 0px 3px 5px gray;padding:.5rem">
            <a href="#">
              <i class="material-icons" style="font-size: 2.5rem;font-weight: 900;color:white">add</i></a>
          </div>
        </div> -->
    </div>
    <div class="fw-overview-list" style="margin:2rem 0rem;">
        <h1>Abgeschlossene Abstimmungen</h1>
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="fw-finished-vote-card">
                        <img src="~/images/traffic-jam-388924_640.jpg" class="fw-finished-vote" alt="Card image cap">
                        <div class="fw-finished-vote-card-content">
                            <div class="fw-finished-vote-card-text">
                                <h5>Citymaut in Graz</h5>
                                <p>Welche Linie soll die Partei bei der Citymaut verfolgen?</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="fw-finished-vote-card">
                        <img src="~/images/rings-1287753_640.jpg" class="fw-finished-vote" alt="Card image cap">
                        <div class="fw-finished-vote-card-content">
                            <div class="fw-finished-vote-card-text">
                                <h5>Olympiabewerbung</h5>
                                <p>Soll Graz sich für die Austragung der Olympischen Winterspiele 2026 bewerben?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="~/lib/bootstrap-datepicker/js/locales/bootstrap-datepicker.de.js"></script>

<script>
    var idToken;
    firebase.auth().onAuthStateChanged(
        function (currentUser) {
            currentUser.getIdToken(true).then(
                function (token) {
                    idToken = token;
                    showOverview(currentUser);
                });
            
        });

    $('#fw-user-img-content').hover(
        function () { highlightImgSelector('user', 'rgba(255, 255, 255, 0.5)'); },
        function () { resetImgSelector('user', 'rgba(255, 255, 255, 0.5)'); }
    );

    $('#fw-voting-img-content').hover(
        function () { highlightImgSelector('voting', 'rgba(101, 127, 140, 0.5)'); },
        function () { resetImgSelector('voting', 'rgba(101, 127, 140, 0.5)'); }
    );

    $('.form-group.date').datepicker({
        format: "dd.mm.yyyy"
    });

    $('document').ready(function () {
        $('#fw-user-img-input').change(function () { previewAndUploadFile('user'); });
        $('#fw-voting-img-input').change(function () { previewAndUploadFile('voting'); });
    });


    function highlightImgSelector(type, color) {
        $("#fw-" + type + "-img-selector").css("border", "1px solid " + color);
        $("#fw-" + type + "-img-selector").css({
            backgroundColor: 'rgba(0,0,0,.5)'
        });
        $("#fw-" + type + "-img-selector").css("box-shadow", "1px 1px 1px rgba(0, 0, 0, 0.5)");
        $("#fw-" + type + "-img-icon").animate(
            { fontSize: "1.5rem", color: "white" });
        $("#fw-" + type + "-img-text").animate({
            opacity: 1
        });
    }

    function resetImgSelector(type, color) {
        $("#fw-" + type + "-img-selector").css("border", "0px solid " + color);
        $("#fw-" + type + "-img-selector").css({
            backgroundColor: 'rgba(0,0,0,0)',
        });
        $("#fw-" + type + "-img-icon").animate(
            { fontSize: "2rem" });
        $("#fw-" + type + "-img-text").animate({
            opacity: 0
        });
        $("#fw-" + type + "-img-selector").css("box-shadow", "0px 0px 0px");
        $('#fw-' + type + '-img-upload').css('display', 'none');
    }

    function showFileSelector(elementId) {
        $(elementId).css("display", "inline");
    }

    function highlightAddVoting(jqueryPath) {
        $(jqueryPath).addClass('shadow-pulse');
    }

    function resetAddVoting(jqueryPath) {
        $(jqueryPath).removeClass('shadow-pulse');
    }

    function createVoting() {
        $("#newVotingModal").modal();
    }

    function previewAndUploadFile(type) {
        var file = $('#fw-' + type + '-img-input')[0].files[0];
        if (!file.type.match(/image.*/)) {
            return; // TODO: inform user to upload actual image
        };
        var img = new Image();
        var reader = new FileReader();
        reader.onload = function (e) {
            img.src = e.target.result;
        }

        img.onload = function () {
            var canvas = document.getElementById('fw-' + type + '-img-real');
            var context = canvas.getContext('2d');
            var MAX_WIDTH = 300;
            var MAX_HEIGHT = 300;
            var width = img.width;
            var height = img.height;

            if (width > height) {
                if (width > MAX_WIDTH) {
                    height *= MAX_WIDTH / width;
                    width = MAX_WIDTH;
                }
            } else {
                if (height > MAX_HEIGHT) {
                    width *= MAX_HEIGHT / height;
                    height = MAX_HEIGHT;
                }
            }
            canvas.width = width;
            canvas.height = height;
            context.drawImage(img, 0, 0, width, height);
            $('#fw-' + type + '-img-dummy').hide();
            $('#fw-' + type + '-img-real').show();
            if(type === 'user')
                uploadFile();
        }
        reader.readAsDataURL(file);
    }

    function uploadFile() {
        var canvas = document.getElementById('fw-user-img-real');
        var dataURL = canvas.toDataURL();
        $.ajax({
            url: 'UpdateUserImage',
            type: 'POST',
            data: {
                imageData: dataURL
            },
            success: updateImage,
            error: function (data) {
                // TODO
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", idToken);
            }
        });
    }

    function updateImage(data) {
    }

    function saveVoting() {
        var title = $("#fwNewVotingName").val();
        var desc = $("#fwNewVotingDescription").val();
        var currentUser = firebase.auth().currentUser;
        var imageData = '';
        if ($('#fw-voting-img-real').is(':visible')) {
            var canvas = document.getElementById('fw-voting-img-real');
            imageData = canvas.toDataURL();
        }
        
        if (currentUser) {
            currentUser.getIdToken(true).then(function (idToken) {
                $.post({
                    url: 'UpdateVoting',
                    data: {
                        "title": title,
                        "desc": desc,
                        "id": null,
                        "imageData": imageData,
                        "startDate": $("#fwStartDate").val(),
                        "startTime": $("#fwStartTime").val(),
                        "endDate": $("#fwEndDate").val(),
                        "endTime": $("#fwEndTime").val()
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", idToken);
                    },
                    success: function(data) {
                        $('#newVotingModal').modal('hide');
                        showOverview(currentUser);
                    }
                    // error: todo
                });
            });
        }

    }

    function showOverview(currentUser) {
        $(".fw-open-voting").remove();
        $("#fw-add-voting-card").hide();
        $("#fw-load-votings-card").show();
        if (currentUser && idToken) {
            $.ajax({
                url: 'GetVotingsForUser',
                type: 'GET',
                datatype: 'json',
                success: showOverviewData,
                error: function (data) {
                    $("<div/>",
                        {
                            "class": "bc-error-message TODO TODO error handling",
                            html: "An error occurred getting your votings: " + data
                        }).appendTo("#votingOverviewListContent");
                    componentHandler.upgradeDom();
                    $("#fw-add-voting-card").show();
                    $("#fw-load-votings-card").hide();
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", idToken);
                }
            });
        }
    };

    function showOverviewData(data) {
        var items = [];
        $("#fw-active-voting-count").text(data.length);
        for (var i = 0; i < data.length; i++) {
            var voting = data[i];
            var item =
                '<div class="col-xl-4 col-md-6 col-sm-12 fw-open-voting"><div class="card fw-overview-card">';
            if (voting.imageData) {
                item += '<img class="card-img-top" src="' + voting.imageData + '">';
            } else {
                item += '<i class="material-icons fw-voting-img" style="text-align:center;width:100%">how_to_vote</i>';
            }

            item += '<div class="card-body"><h5 class="card-title">' + voting.title + '</h5>';
            item += '<p class="card-text">' + voting.description + '</p>';
            item += '<a class="fw-card-link-icon" href="Edit?id=' + voting.id + '"><i class="material-icons">edit</i></a></div></div></div>';
            items.push(item);
        }
        $(items.join("\n")).insertBefore("#fw-add-voting-card");
        $("#fw-add-voting-card").show();
        $("#fw-load-votings-card").hide();
        componentHandler.upgradeDom();
    }
</script>