@using FreieWahl.Controllers
@using Microsoft.Extensions.Localization
@model FreieWahl.Models.VotingAdministration.VotingOverviewModel

@inject IStringLocalizer<VotingAdministrationController> Localizer

@{
    ViewData["Title"] = Model.Title;
}

<h2>@Localizer["Header"]</h2>

<div id="votingLoadProgress">
    <div class="progress">
        <div id="fw-load-progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
</div>
<div id="votingOverviewList" style="display: none">    
    <div id="votingOverviewListContent"></div>
    <div id="addVoting">
        <a class="btn btn-primary text-light mr-5" href="Edit?id=0"><i class="material-icons align-top mr-3">add</i>***Create Voting</a>
    </div>
</div>


<script>
    firebase.auth().onAuthStateChanged(function (currentUser) { showOverview(currentUser); });
    $("#fw-link-overview").addClass("active");

    function showOverview(currentUser) {
        $("#votingOverviewListContent").empty();
        $("#votingOverviewList").hide('fast');
        $("#votingLoadProgress").show();
        if (currentUser) {
            currentUser.getIdToken(true).then(function (idToken) {
                $.ajax({
                    url: 'GetVotingsForUser',
                    type: 'GET',
                    datatype: 'json',
                    success: showOverviewData,
                    error: function(data) {
                        $("#votingLoadProgress").hide("fast");
                        $("#votingOverviewList").show('fast');
                        $("<div/>",
                            {
                                "class": "bc-error-message",
                                html: "An error occurred getting your votings: " + data
                            }).appendTo("#votingOverviewListContent");
                        componentHandler.upgradeDom();
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", idToken);
                    }
                });
            });
        }
    };

    function showOverviewData(data) {
        var items = [];
        for (var i = 0; i < data.length; i++) {
            var voting = data[i];
            var item = '<div class="card"><div class="card-body">';
            item += '  <h4 class="card-title">' + voting.title + '</h4>';
            item += '  <p class="card-text">' +
                voting.description +
                '</p>';
            item +=
                ' <a class="btn btn-primary text-light mr-5" href="Edit?id=' + voting.id + '"><i class="material-icons align-top mr-3">edit</i>***Edit</a>';
            item += '<a class="btn btn-primary text-light" onclick="deleteVoting(' +
            voting.id +
                ')"><i class="material-icons align-top mr-3">delete</i>***Delete</a></div ></div > ';
            items.push(item);
        }
        $("#votingLoadProgress").hide("fast");
        $("#votingOverviewList").show('fast');
        $("<div/>",
            {
                "class": "d-flex flex-column my-3",
                html: items.join("\n")
            }).appendTo("#votingOverviewListContent");
        componentHandler.upgradeDom();
    }
</script>