@using FreieWahl.Voting.Models
@model FreieWahl.Models.VotingAdministration.EditVotingModel

<h1 class="display-4">Fragen</h1>
@foreach (var question in Model.Questions)
{
    if (question.Type == QuestionType.Decision)
    {
        @await Html.PartialAsync("_DecisionQuestion", question);
    }
    else if (question.Type == QuestionType.MultipleChoice)
    {
        @await Html.PartialAsync("_MultipleChoiceQuestion", question);
    }
    else if (question.Type == QuestionType.Ordering)
    {
        @await Html.PartialAsync("_OrderingQuestion", question);
    }
}
@if (Model.Questions.Any())
{
    <div class="float-right">
        <i class="material-icons text-white bg-secondary rounded-circle button-shadow" id="fw-new-question-button" style="font-size: 4rem; cursor: pointer">add</i>
    </div>
}
else
{
    <div class="p-2 my-4 d-flex align-items-start" id="fw-new-question-onboarding" style="cursor: pointer">
        <div>
            <i class="material-icons text-white rounded-circle bg-secondary p-1 button-shadow mr-3 mt-3" style="font-size: 3.5rem; height: 4rem; width: 4rem">add</i>
        </div>
        <div class="text-primary pt-1"><h5 style="font-weight: 300">Es gibt noch keine Fragen in dieser Abstimmung</h5>
            <div style="font-size: .9rem">
                <ol>
                    <li>Klicken Sie hier, um eine erste Frage zu erstellen.</li>
                    <li>Schalten Sie die Frage frei, um Abstimmen zu lassen - Bearbeiten ist dann nicht mehr möglich!</li>
                    <li>Nach der Wahl oder wenn Sie die Frage abgeschlossen haben, sehen Sie die <strong>Ergebnisse</strong> - Abstimmen geht dann nicht mehr.</li>
                </ol></div></div>
    </div>
}

<script>
    if (typeof Edit !== 'undefined') {
        Edit.setQuestions(@Json.Serialize(Model.Questions));
    }
</script>